[buildout]
develop = .
parts = test checker coverage-test coverage-report
index = http://d.pypi.python.org/simple

[test]
recipe = zc.recipe.testrunner
eggs = zc.datetimewidget [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/zc/datetimewidget

[coverage-test]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
